backports.entry-points-selectable==1.1.1
certifi==2021.10.8
cfgv==3.3.1
distlib==0.3.3
filelock==3.4.0
identify==2.4.0
importlib-metadata==4.8.2
nodeenv==1.6.0
numpy==1.21.4
Pillow==8.4.0
platformdirs==2.4.0
pre-commit==2.16.0
PyYAML==6.0
six==1.16.0
tabulate==0.8.9
toml==0.10.2
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3
typing_extensions==4.0.1
virtualenv==20.10.0
yacs==0.1.8
zipp==3.6.0
